<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    公共流程配置
    <small>在这里配置公共流程信息</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{flowTitle}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="flowTable" class="table table-bordered table-striped"></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{procedureTitle}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="procedureTable" class="table table-bordered table-striped"></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{checkerTitle}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="checkerTable" class="table table-bordered table-striped"></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
