<!-- Main content -->
<section class="content xn-console-first-section">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">注册进度</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="form-group" *ngFor="let row of rows">
        <div class="col-sm-3 user-home-label">
          {{row.label}}
        </div>
        <div class="col-sm-5">
          {{row.data}}
        </div>
        <div class="col-sm-4" [ngClass]="row.css">
          {{row.status}}
        </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
