<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb mobile-hide">
        <li>
          <a routerLink="/">首页</a>
        </li>
        <li *ngFor="let item of data?.nav" [ngClass]="navOn(data?.nav)">
          <a routerLink="/portal/column/{{item.id}}">{{item.title}}</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="container min-container">
  <div class="row center-block">
    <section>
      <div class="con-block">
        <h2>{{article?.title}}</h2>
        <div class="con-date">{{article?.createTime}}</div>
        <div class="cover-img" *ngIf="article?.fileId && article?.fileId !== ''">
          <img src="/api/attachment/view?key={{article?.fileId}}">
        </div>
        <div class="con-data"></div>
        <div class="con-attachment" *ngIf="fileArr?.length > 0">
          <div *ngFor="let item of fileArr">
            <a href="{{item.url}}">{{item.label}}</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
