<!-- 链融做什么 -->
<div class="do inner">
  <div class="do-title">
    <h2 class="title">
      <span class="in-title">链融做什么</span>
    </h2>
  </div>
  <ul class="do-ul clear">
    <li>
      <a>
        <div class="msg-img">
          <img src="assets/lr/img/pic01.jpg">
        </div>
        <h2 class="msg-title">信用计量</h2>
        <h3 class="msg-subtitle">建设供应链产融联盟</h3>
      </a>
    </li>
    <li>
      <a>
        <div class="msg-img">
          <img src="assets/lr/img/pic02.jpg">
        </div>
        <h2 class="msg-title">信用共识</h2>
        <h3 class="msg-subtitle">创新型金融科技平台</h3>
      </a>
    </li>
    <li>
      <a>
        <div class="msg-img">
          <img src="assets/lr/img/pic03.jpg">
        </div>
        <h2 class="msg-title">信用流转</h2>
        <h3 class="msg-subtitle">共享产融经济生态圈</h3>
      </a>
    </li>
  </ul>
</div>
