<section class="content-header">
  <h1>
    <a [routerLink]="['/dragon/vanke/project-management']"
      [queryParams]="{first:queryParams.backPageNumber,defaultValue:queryParams.backDefaultValue}"
      routerLinkActive="router-link-active">{{title.split('>')[0]}}</a>
    >
    <a [routerLink]="['/dragon/vanke/projectPlan-management']" [queryParams]="{title:title.split('>')[1]+'>'+title.split('>')[2],projectId:projectId,headquarters:headquarters,
      paging:queryParams.backPageNumber,defaultValue:queryParams.backDefaultValue}"
      routerLinkActive="router-link-active">{{title.split('>')[1]}}</a>
    >
    {{title.split('>')[2]}}
  </h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-body">
      <ul class="nav nav-tabs">
        <ng-container *ngFor="let tab of tabConfig.tabList;let i=index">
          <li [ngClass]="{'active': tab.value===defaultValue}">
            <a class="xn-click-a" data-toggle="tab" (click)="initData(tab.value)">{{tab.label}}</a>
          </li>
        </ng-container>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" style="padding: 15px 0">
          <!-- 搜索项 -->
          <div *ngIf='!displayShow' style='clear:both'>
            <ng-container *ngFor="let row of shows">
              <div class="item-box col-sm-4" *ngIf='row.show'>
                <div class="item-label">
                  <label style='min-width: 180px !important'>{{row.title}}:</label>
                </div>
                <div class="item-control">
                  <app-dynamic-input [row]="row" [form]="form" [formModule]="formModule"></app-dynamic-input>
                </div>
              </div>
            </ng-container>

          </div>
          <div *ngIf='displayShow' style='clear:both'>
            <ng-container *ngFor="let row of shows.slice(0, 3)">
              <div class="item-box col-sm-4" *ngIf='row.show'>

                <div class="item-label">
                  <label style='min-width: 180px !important'>{{row.title}}:</label>
                </div>
                <div class="item-control">
                  <app-dynamic-input [row]="row" [form]="form" [formModule]="formModule"></app-dynamic-input>
                </div>
              </div>
            </ng-container>


          </div>
          <div>
            <div class="center-block" style='border-bottom: 1px solid #ccc;float:left'></div>
            <div class="center-block" style='border-bottom: 1px solid #ccc;float:right'></div>
          </div>
          <div class='showClass' (click)='show()'>
            <a *ngIf='displayShow' class="xn-click-a"><i class="fa fa-angle-double-down" aria-hidden="true"></i>更多
            </a>
            <a class="xn-click-a" *ngIf='!displayShow'><i class="fa fa-angle-double-up" aria-hidden="true"></i>收起
            </a>
          </div>

          <div class="col-sm-6 form-group text-left">
            <!-- 左头按钮 -->
            <ng-container
              *ngIf="currentSubTab.edit && currentSubTab.edit.leftheadButtons && currentSubTab.edit.leftheadButtons.length">
              <span *ngFor="let btn of currentSubTab.edit.leftheadButtons">
                <ng-container *ngIf="isShowByOrgType ? true : btn?.showButton">
                  <button type="button" class="btn btn-primary"
                    [disabled]="!selectedItems.length && btn.disabled && btn.disabled === true"
                    (click)="handleHeadClick(btn)">{{btn.label}}</button>
                </ng-container>
              </span>
            </ng-container>
          </div>
          <div class="col-sm-6 form-group text-right">
            <!-- 右头按钮 -->
            <ng-container
              *ngIf="currentSubTab.edit && currentSubTab.edit.rightheadButtons && currentSubTab.edit.rightheadButtons.length">
              <span *ngFor="let btn of currentSubTab.edit.rightheadButtons">
                <ng-container *ngIf="isShowByOrgType ? true : btn?.showButton">
                  <button type="button" class="btn btn-primary"
                    [disabled]="!selectedItems.length && btn.disabled&&btn.disabled===true"
                    (click)="handleHeadClick(btn)">{{btn.label}}</button>
                </ng-container>
              </span>
            </ng-container>
            <ng-container *ngIf="currentSubTab.canSearch">
              <button class="btn btn-primary" (click)="searchMsg()">查询</button>
              <button class="btn btn-danger" (click)="reset()">重置</button>
            </ng-container>
          </div>

          <!--列表交易子标签页切换,当且子标签状态多种时，显示切换标签导航-->
          <ng-container *ngIf="currentTab.subTabList.length>1">
            <ul class="nav nav-pills sub-ul">
              <ng-container *ngFor="let sub of currentTab.subTabList">
                <li role="presentation" [ngClass]="{'active': sub.value === subDefaultValue}"
                  (click)="handleSubTabChange(sub.value)">
                  <a class="xn-click-a">{{sub.label}}</a>
                </li>
              </ng-container>
            </ul>
          </ng-container>

          <!--子列表-->
          <div class="height" style="width:100%">
            <div class="head-height">
              <table class="table table-bordered table-hover text-center table-display relative" style='width:100%'
                [style.left.px]="headLeft">
                <thead>
                  <tr class="table-head">
                    <!-- 全选按钮 -->
                    <th style='width:50px' *ngIf="currentSubTab.canChecked" class="input-check">全选/取消
                      <input type="checkbox" name="all" [checked]="isAllChecked()" [disabled]="!listInfo.length"
                        (change)="checkAll()" />
                    </th>
                    <th style='width:50px'>序号</th>
                    <!-- 表头，搜索功能 -->
                    <ng-container *ngFor="let head of heads">
                      <th *ngIf='head.show' style='width:50px'>
                        <ng-container *ngIf="head.sort;else normal">
                          <span [ngClass]="onSortClass(head?.value)" (click)="onSort(head?.value)">{{head.label}}</span>
                        </ng-container>
                        <ng-template #normal>{{head.label}}</ng-template>
                      </th>
                    </ng-container>
                    <!-- 行操作 -->
                    <th style='width:150px'
                      *ngIf="currentSubTab?.edit && currentSubTab?.edit?.rowButtons && currentSubTab?.edit?.rowButtons?.length">
                      操作
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div class="table-height" (scroll)="onScroll($event)">
            <table class="table table-bordered table-hover text-center table-display" style='width:100%'>
              <tbody style='width:100%'>
                <ng-container *ngIf="listInfo.length;else block">
                  <tr *ngFor="let item of listInfo;let i=index">
                    <!-- 行选则 -->
                    <td style='width:50px' *ngIf="currentSubTab.canChecked" class="input-check">
                      <input type="checkbox" name="single" [checked]="item['checked']"
                        (change)="singleChecked(item,i)" />
                    </td>
                    <!--序号-->
                    <td style='width:50px'>{{i + 1}}</td>
                    <!-- <td>{{item?.second_wk_01_contract}}</td> -->
                    <!-- 列内容 -->
                    <td *ngFor="let head of heads" style="width:50px;word-wrap:break-word">
                      <!-- 根据head type 类型配置显示方式 -->
                      <ng-container [ngSwitch]="true">
                        <!-- mainFlowId-->
                        <ng-container *ngSwitchCase="head.type==='mainFlowId'">
                          <div (click)='viewProgress(item[head.value])' [tooltip]='helpDealContract'
                            content-type="template" [options]="myOptions" (mouseover)='viewDetail(item.mainFlowId)'>
                            <a class="xn-click-a">{{item[head.value]}}</a>
                          </div>
                        </ng-container>

                        <!--invoiceNum-->
                        <ng-container *ngSwitchCase="head.type==='invoiceNum'">
                          <ng-container *ngIf="arrayLength(item[head.value]);else block2">
                            <a class="xn-click-a" href="javaScript:void(0)" (click)="viewMore(item[head.value])"
                              [innerHtml]="(item[head.value] | xnArrayTruncate:2:'等;')">
                            </a>
                          </ng-container>
                          <ng-template #block2>
                            <div [innerHtml]="(item[head.value] | xnArrayTruncate:2:'等;')"></div>
                          </ng-template>
                        </ng-container>
                        <!--contract-->
                        <ng-container *ngSwitchCase="head.type==='contract'">
                          <ng-container *ngIf=" item[head.value]&& item[head.value]!==''">
                            <ng-container *ngIf="judgeDataType(jsonTransForm(item[head.value])); else block3">
                              <div *ngFor="let sub of item[head.value] | xnJson; let i=index">
                                <a href="javaScript:void(0)" (click)="showContract(sub)">{{sub.label}}</a>
                              </div>
                              <p *ngIf="item[head.bodyContractYyj]!=='' && head.bodyContractYyj!==undefined">
                                <a (click)="fileView(item[head.bodyContractYyj])" class="a-block" *ngIf="item[head.bodyContractYyj]!==''
                                " href="javaScript:void (0)">企业回传文件</a>
                              </p>
                              <p *ngIf=" head.bodyContractYyj!==undefined && item[head.bodyContractYyj]===''
                            ">
                                未回传文件
                              </p>
                              <a *ngIf=" head.bodyContractYyj!==undefined" (click)="
                              uploadContract(
                               item.mainFlowId,
                               head.bodyContractYyj,
                               head.label
                              )
                            " style="margin-top: 5px;" class="a-block" href="javaScript:void (0)">上传文件</a>
                            </ng-container>
                            <ng-template #block3>
                              <a href="javaScript:void(0)" (click)="showContract(jsonTransForm(item[head.value]))">
                                {{jsonTransForm(item[head.value])['label']}}</a>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                        <!--图片文件file-->
                        <ng-container *ngSwitchCase="head.type==='file'">
                          <ng-container *ngIf="item[head.value] && item[head.value]!==''">
                            <div *ngFor="let sub1 of item[head.value] | xnJson;let j=index">
                              <ng-container *ngIf="!!sub1.fileName && j===0">
                                <a href="javaScript:void(0)" (click)="viewFiles(item[head.value])">
                                  {{(item[head.value] | xnJson).length>1 ? (item[head.value] | xnJson)[0].fileName + '，...' : (item[head.value] | xnJson)[0].fileName}}
                                </a>
                              </ng-container>

                            </div>
                          </ng-container>

                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='date'">
                          <ng-container *ngIf="item[head.value] && item[head.value]!==''">
                            <div>
                              {{item[head.value] | xnDate: 'date'}}
                            </div>
                          </ng-container>
                        </ng-container>
                        <!-- 应收账款金额 -->
                        <ng-container *ngSwitchCase="head.type==='receive'">
                          <ng-container
                            *ngIf=" item[head.value] !==undefiend &&item[head.value] !==null && item[head.value]!==0">
                            <div>{{item[head.value].toFixed(2) | xnMoney}}</div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='xnMainFlowStatus'">
                          <ng-container *ngIf="item[head.value] && item[head.value]!==''">
                            <div>
                              {{item[head.value] | xnMainFlowStatus : item['isProxy']}}
                            </div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='freezing'">
                          <div [ngStyle]="{'color':item[head.value]?'red':'black'}"
                            [innerHTML]="item[head.value] | xnSelectTransform:'freezing'"></div>
                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='tradeStatus'">
                          <ng-container *ngIf='proxy===52'>
                            <div [innerHTML]="item[head.value] | xnSelectTransform:'dragonType'"></div>
                          </ng-container>
                          <ng-container *ngIf='proxy===53'>
                            <div [innerHTML]="item[head.value] | xnSelectTransform:'newVankeType'"></div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='tradeType'">
                          <ng-container *ngIf='proxy===52'>
                            <div [innerHTML]="item[head.value] | xnSelectTransform:'dragonContracttype'"></div>
                          </ng-container>
                          <ng-container *ngIf='proxy===53'>
                            <div [innerHTML]="item[head.value] | xnSelectTransform:'vankeContracttype'"></div>
                          </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='invoiceFlag'">
                          <div [ngStyle]="{'color':item[head.value]===1?'black':'red'}"
                            [innerHTML]="item[head.value] | xnSelectTransform:'defaultRadio'"></div>
                        </ng-container>
                        <ng-container *ngSwitchCase="head.type==='surveyStatus'">
                          <div [innerHTML]="item[head.value] | xnSelectTransform:'surveyStatus'"></div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <div [innerHTML]="item[head.value] | xnGatherType: {head:head,row:item}"></div>
                        </ng-container>
                      </ng-container>
                    </td>
                    <!-- 行按钮 -->
                    <td style='width:150px'
                      *ngIf="currentSubTab?.edit &&currentSubTab?.edit?.rowButtons && currentSubTab?.edit?.rowButtons.length">
                      <div class="operate-btn">
                        <ng-container *ngFor="let btn of currentSubTab.edit.rowButtons">
                          <a href="javaScript:void(0)" (click)="handleRowClick(item,btn,i)">{{btn.label}}</a>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>

        </div>
        <!-- <div class="print">
          <span>应付账款金额汇总：</span>
          <span style="margin-left:30px">所选交易转让金额汇总：</span>
          <span style="margin-left:30px">笔数：</span>
          <span>筛选条件下应收转让金额汇总：</span>
          <span style="margin-left:30px">筛选条件下所有交易的转让金额汇总：</span>
        </div> -->
        <xn-pagination [rows]="pageConfig.pageSize" [first]="pageConfig.first" [totalRecords]="pageConfig.total"
          [pageSizeOptions]="[5,10,20,30,50,100]" (pageChange)="onPageChange($event)"></xn-pagination>
      </div>
      <div class="text-left box-footer" style="border-top: none;margin-top: 40px;">
        <button type="button" class="btn btn-default pull-left" (click)="navBack()">
          返回
        </button>
      </div>
    </div>

  </div>

  <ng-template #helpDealContract>
    <div style='height:300px' *ngIf='params.checker!==null'>
      <h4>{{ params.title }}</h4>
      <ng-container *ngFor="let row of params.checker">
        <div class="item-box col-sm-6" style='margin-left:-30px'>
          <div class="item-label">
            <label>{{row.title}}:</label>
          </div>
          <div class="item-control">
            <app-dynamic-input [row]="row" [form]="mainForm" formModule="dragon-input">
            </app-dynamic-input>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</section>

<ng-template #block>
  <tr>
    <td [attr.colspan]="calcAttrColspan()">
      <div class="empty-message"></div>
    </td>
  </tr>
</ng-template>

<ng-template #emptyContent>
  <p>无</p>
</ng-template>
